body {
  max-width: 1140px;
  font-size: 16px;
  background-color: #EEEEEE;
  margin-left: auto;
  margin-right: auto;
}
body .notes {
  float: left;
  width: 35px;
}
body .notes .over {
  padding-top: 4px;
}
body .notes .note {
  font-size: 26px;
}
body .notes .under {
  padding-bottom: 10px;
}
body .fretboard {
  display: flex;
  flex-wrap: wrap;
}
body .fretboard .nut {
  width: 10px;
  background-color: saddlebrown;
}
body .fretboard .fret {
  -ms-flex: 0 0 8%;
  flex: 0 0 8%;
  max-width: 8%;
  position: relative;
}
body .fretboard .fret .bar {
  width: 10px;
  height: 100%;
  background-color: grey;
  border-radius: 15%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
body .fretboard .string .over {
  padding-top: 20px;
}
body .fretboard .string .under {
  padding-bottom: 20px;
}
body .fretboard .string .line {
  border-bottom: 4px solid black;
  position: relative;
  z-index: 1;
  transition: border 300ms ease;
}
body .fretboard .string .line .dot {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: -9px;
  right: 42%;
}
body .fretboard .string .x {
  position: relative;
  height: 4px;
}
body .fretboard .string .x .dot {
  height: 20px;
  width: 20px;
  display: none;
  position: absolute;
  top: -15px;
  right: -4px;
  font-size: 30px;
  font-weight: 900;
}
body .fretboard .string:hover {
  cursor: pointer;
}
body .fretboard .string:hover .line {
  border-color: green;
  transition: border 300ms ease;
}
