body {
  margin: 0;
  font-size: 16px;
}
.wrapper .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #2c3e50;
}
.wrapper .header .search {
  background: #ebebeb;
  width: 60%;
  height: 3em;
  border-radius: 2em;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 1200px) {
  .wrapper .header .search {
    width: 90%;
  }
}
.wrapper .header .search .input {
  margin-left: 1em;
  width: 90%;
  background: inherit;
  border: none;
  color: #212121;
  -webkit-appearance: none;
  outline: none;
  font-size: 2em;
  caret-color: #212121;
  height: 100%;
  line-height: 2em;
}
.wrapper .header .search .icon {
  margin-right: 1em;
}
.wrapper .body {
  display: flex;
  width: 100%;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100% - 8em);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ecf0f1;
}
.wrapper .body .cocktail-card {
  background-color: transparent;
  width: 25%;
  height: 150px;
  transition: height 0.6s;
  perspective: 1000px;
  margin: 1em;
}
@media (max-width: 1200px) {
  .wrapper .body .cocktail-card {
    width: 45%;
  }
}
@media (max-width: 760px) {
  .wrapper .body .cocktail-card {
    width: 100%;
  }
}
.wrapper .body .cocktail-card .cocktail-card-inner {
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.8s, box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-style: preserve-3d;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-front,
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-front {
  background-color: #ddbea0;
  color: darkslategrey;
  cursor: pointer;
  height: 100%;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-front .name {
  font-size: xx-large;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-front .swirl {
  width: 30%;
  padding-bottom: 0.5em;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-front .content {
  font-style: italic;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-back {
  background-color: #d35400;
  color: white;
  cursor: pointer;
  transform: rotateY(180deg);
  height: fit-content;
  padding-bottom: 1em;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-back .name {
  font-size: xx-large;
  padding-top: 1em;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-back .instructions {
  display: flex;
  padding-top: 1em;
  justify-content: space-around;
  align-content: center;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-back .instructions ul {
  text-align: left;
  padding-top: 0.5em;
  list-style: none;
  margin: 0;
  padding-left: 2em;
  width: 50%;
  font-style: italic;
  padding-right: 0.5em;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-back .instructions .directions {
  width: 50%;
  padding-right: 2em;
  text-align: left;
  padding-left: 0.5em;
  border-left: 1px solid white;
}
.wrapper .body .cocktail-card .cocktail-card-inner .cocktail-card-back .instructions .directions p {
  margin-top: 0;
}
.wrapper .body .cocktail-card:hover .cocktail-card-inner {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.wrapper .body .cocktail-card.flipped .cocktail-card-inner {
  transform: rotateY(180deg);
}
.wrapper .footer {
  position: absolute;
  bottom: 0;
  height: 4em;
  width: 100%;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
  background-color: #2c3e50;
}
